#site-title {
    text-align: center;
    background-clip: rgba(210, 236, 240);
    color: rgba(55, 8, 19);
}

body {
   
}

header {
    height: 100px;
    border-style: solid;

}

main {
    height: 100%;
    border-style: solid;
}

footer {
    height: 100px;
    border-style: solid;
}